.calendar-event {
  font-weight: 100;
  display: flex;
  align-items: center;
  height: 16px;
  min-height: 16px;
  max-height: 16px;
  position: relative;

  width: calc(100% - 8px);

  overflow: hidden;
  text-overflow: clip;
  white-space: nowrap;
  box-sizing: border-box;

  text-overflow: clip;
  margin: 3px;
  border: none;
}

/* .calendar-event.prev-day-overlay::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: hsla(0, 0%, 100%, 0.5);
  pointer-events: none;
  z-index: 0;
} */

.allday-event {
  color: white;
}
.timed-event {
  background-color: transparent;
  border: none;
  width: fit-content;
}
.red-event.allday-event {
  background-color: var(--red-event);
}
.blue-event.allday-event {
  background-color: var(--blue-event);
}
.green-event.allday-event {
  background-color: var(--green-event);
}

.red-event.timed-event > .event-dot {
  color: var(--red-event);
  margin-left: -0.6em;
  margin-right: 0.25em;
}
.blue-event.timed-event > .event-dot {
  color: var(--blue-event);
  margin-left: -0.6em;
  margin-right: 0.25em;
}
.green-event.timed-event > .event-dot {
  color: var(--green-event);
  margin-left: -0.6em;
  margin-right: 0.25em;
}
.event-time {
  color: var(--timed-event-text);
  margin-right: 0.25em;
}
