.month-container > *,
.date {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;

  color: var(--default-text);
  background-color: white;
  box-sizing: border-box;

  outline: 1px solid var(--button-background);
  border-collapse: collapse;
}

.month-container > *:focus,
.date:focus {
  outline: 2px solid var(--default-text);
}

.calendar-event.prev-day-overlay::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: hsla(0, 0%, 100%, 0.5);
  pointer-events: none;
  z-index: 0;
}

.out-of-month-day {
  background-color: var(--out-of-month-day-background);
}

.today {
  color: white;
  background-color: var(--todays-date-txt-background);
}

.prev-day {
  color: var(--weekday-text);
}

.date-header {
  font-family: var(--date-font);
  font-size: var(--date-font-size);
  margin-top: 4%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: fit-content;
  width: 100%;
  min-width: 0;
  flex-shrink: 0;
}

.date-num {
  display: grid;
  place-items: center;

  font-size: var(--date-font-size);
  width: calc(var(--date-font-size) * 1.5);
  height: var(--date-num-height);

  aspect-ratio: 1 / 1;
  border-radius: 50%;
}

.add-event-btn {
  opacity: 0; 
  pointer-events: none; 
  font-family: var(--date-font);
  font-weight: 100;
  font-size: calc(var(--date-font-size) * 1.25);

  position: absolute;
  right: 5px;
  top: 5px;
  width: calc(var(--date-font-size) * 1.5);
  aspect-ratio: 1 / 1;
  border-radius: 50%;

  color: var(--default-text);
  background-color: var(--out-of-month-day-background);
  border: none;
  padding: 0;
  z-index: 10;
}

.date:focus .add-event-btn,
.add-event-btn:focus {
  opacity: 1;
  pointer-events: auto;
}
.date:hover .add-event-btn,
.date:focus .add-event-btn {
  opacity: 1;
  pointer-events: auto;
}

.date-weekday-label {
  font-size: calc(var(--date-font-size) * 0.8);
  height: var(--date-weekday-label-height);
  color: var(--weekday-text);
}

.events-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  flex: 1;
  min-height: 0;
  min-width: 0;
  overflow: hidden;
}

.see-more-btn-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 20px;
  width: 100%;
  flex-shrink: 0;
}

.see-more-btn {
  width: fit-content;
  border: none;
  background: none;
  font-size: calc(var(--date-font-size) * 0.8);
  color: var(--default-text);
  cursor: pointer;
  text-align: center;
}

.see-more-btn.prev-day {
  color: var(--weekday-text);
}
