/* overFLOW MODAL css*/
.overflow-modal {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: var(--event-modal-width);
  height: var(--event-modal-height);
  color: black;
  background-color: white;

  padding: 20px 12px;
  box-sizing: border-box;
  border-radius: 5px;
  overflow: auto;
  overflow-x: hidden;
}
.overflow-modal.show {
  display: flex;
  flex-direction: column;
  animation: slide-into-view 0.25s ease-in forwards;
}

.overflow-modal.show.hide {
  animation: slide-out-of-view 0.25s ease-out forwards;
}

.overflow-modal-header {
  display: flex;
  flex-direction: row;
}

.overflow-date {
  margin-top: 7px;
  font-family: var(--date-font);
  color: #555;
}

.overflow-close-btn {
  font-family: var(--date-font);
  color: var(--default-text);
  font-weight: 200;
  position: absolute;
  font-size: 16px;
  border: none;
  right: 0;
}

.overflow-events-list {
  margin-top: 25px;
}

.overflow-events-list > * {
  margin-bottom: 10px;
}

.overflow-close-btn img {
  width: 12px;
  height: 12px;
  object-fit: contain;
}

/* overLAY css */
.overlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: hsla(0, 0%, 10%, 0.5);
}

.overlay.show {
  display: block;
}

@keyframes slide-into-view {
  0% {
    transform: translate(-50%, -50%) scale(0.1);
    opacity: 0;
  }

  100% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
}

@keyframes slide-out-of-view {
  0% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }

  100% {
    transform: translate(-50%, -50%) scale(0.1);
    opacity: 0;
  }
}
