.overflow-modal {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: var(--event-modal-width);
  height: var(--event-modal-height);
  color: black;
  background-color: white;

  padding: 20px 12px;
  box-sizing: border-box;
  border-radius: 5px;
  overflow: auto;
  overflow-x: hidden;
}
.overflow-modal.show {
  display: flex;
  flex-direction: column;
}

.overflow-modal-header {
  display: flex;
  flex-direction: row;
}

.overflow-date {
  margin-top: 7px;
  font-family: var(--date-font);
  color: #555;
}

.overflow-close-btn {
  font-family: var(--date-font);
  color: var(--default-text);
  font-weight: 200;
  position: absolute;
  font-size: 16px;
  border: none;
  right: 0;
}

.overflow-events-list {
  margin-top: 25px;
}

.overflow-events-list > * {
  margin-bottom: 10px;
}
