.event-modal {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: var(--event-modal-width);
  height: var(--event-modal-height);
  color: var(--default-text);
  background-color: white;

  padding: 12px 12px 12px 12px;
  box-sizing: border-box;
  border-radius: 5px;
}

.overlay.show {
  display: block;
}
.event-modal.show {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  animation: slide-into-view 0.25s ease-in forwards;
}
.event-modal.show.hide {
  animation: slide-out-of-view 0.25s ease-out forwards;
}

/* OVERLAY AND LAYOUT MODALS BEGINS */
.overlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: hsla(0, 0%, 10%, 0.5);
}

.event-modal-header {
  --event-modal-header-height: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: var(--event-modal-header-height);
  width: 100%;
  margin-top: -15px;
}

.event-modal-header-name {
  font-family: var(--date-font);
  font-size: 25px;
  font-weight: 100;
}

.event-modal-header-date {
  font-family: var(--date-font);
  color: var(--modal-date-header-text);
  font-size: 18px;
}

.event-modal-header-close-btn {
  font-family: sans-serif;
  color: var(--default-text);
  font-size: 18px;
  border: none;
  background-color: transparent;
}
.event-modal-header-close-btn img {
  width: 12px;
  height: 12px;
  object-fit: contain;
}
/* FORM */
.form {
  height: calc(var(--event-modal-height) - var(--event-modal-header-height));
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.modal-form-label {
  color: var(--modal-form-label-text);
  font-family: var(--date-font);
  font-weight: 600;
  font-size: var(--date-font-size);
}

.name input {
  height: 25px;
  width: 100%;
  border: 1px solid var(--modal-form-label-text);
  border-radius: 2px;
  box-sizing: border-box;
}

.allday {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.event-times {
  display: flex;
  gap: 0.5rem;
  width: 100%;
  box-sizing: border-box;
}

.event-time {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.event-time input {
  border: 1px solid var(--modal-form-label-text);
  border-radius: 2px;
  width: 100%;
  height: 25px;
  box-sizing: border-box;
}
/* OVERLAY AND LAYOUT MODALS ENDS */

.buttons-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;

  height: "80px";
  margin-top: "10px";
  bottom: "0";
}
/* CRUD BUTTONS BEGINS */
.event-submit-btn {
  font-weight: 200;
  position: fixed;
  width: 90%;
  bottom: 0px;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--Save-Add-Button-Text);
  background-color: var(--Save-Add-Button-Background);
  border-color: var(--Save-Add-Button-Border);
}
.event-submit-btn-section {
  height: 20px;
  padding-top: 5px;
}
.event-submit-btn:hover {
  background-color: var(--Save-Add-Button-Hover-Background);
}

.edit-event-btns {
  position: relative;
  width: 48%;
  bottom: 0px;
  color: var(--Save-Add-Button-Text);
  background-color: var(--Save-Add-Button-Background);
  border-color: var(--Save-Add-Button-Border);
}
.delete-btn {
  color: var(--Delete-Button-Text);
  background-color: var(--Delete-Button-Background);
  border-color: var(--Delete-Button-Border);
}
.delete-btn:hover {
  background-color: var(--Delete-Button-Hover-Background);
}

.edit-event-btn {
  color: var(--Save-Add-Button-Text);
  background-color: var(--Save-Add-Button-Background);
  border-color: var(--Save-Add-Button-Border);
}
.edit-event-btn:hover {
  background-color: var(--Save-Add-Button-Hover-Background);
}

/* CRUD BUTTONS ENDS */

/*RADIO RESTYLING */
input[type="radio"] {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  background-color: var(--out-of-month-day-background);
  border-radius: 5px;
  width: 25px;
  height: 25px;
  display: inline-block;
}

.radio-group {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

#red {
  background-color: hsl(0, 65%, 80%);
}
#red:checked {
  background-color: var(--red-event);
}
#blue {
  background-color: hsl(200, 70%, 80%);
}
#blue:checked {
  background-color: var(--blue-event);
}
#green {
  background-color: hsl(150, 70%, 80%);
}
#green:checked {
  background-color: var(--green-event);
}
/* RADIO RESTYLING ENDS*/

@keyframes slide-into-view {
  0% {
    transform: translate(-50%, -50%) scale(0.1);
    opacity: 0;
  }

  100% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
}

@keyframes slide-out-of-view {
  0% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }

  100% {
    transform: translate(-50%, -50%) scale(0.1);
    opacity: 0;
  }
}
