:root {
  --default-text: #333; /*Used for today-btn, nav arrows, month header, and primary dates*/
  --weekday-text: #777; /*Week-day-name and all-prev-days-numbers */
  --out-of-month-day-background: #f5f5f5; /* shaded background, made it up bec they pasted the same code as button-background, but reference img shows different values for date-borders and out-of-month backgrounds */
  --button-background: #dadce0; /* also each-dates-borders*/
  --todays-date-txt-background: hsl(200, 80%, 50%);

  --red-event: hsl(0, 75%, 60%);
  --blue-event: hsl(200, 80%, 50%);
  --green-event: hsl(150, 80%, 30%);

  --Save-Add-Button-Border: hsl(150, 80%, 30%);
  --Save-Add-Button-Background: hsl(150, 80%, 95%);
  --Save-Add-Button-Text: hsl(150, 80%, 10%);
  --Save-Add-Button-Hover-Background: hsl(150, 80%, 90%);

  --Delete-Button-Border: hsl(0, 75%, 60%);
  --Delete-Button-Background: hsl(0, 75%, 95%);
  --Delete-Button-Text: hsl(0, 75%, 10%);
  --Delete-Button-Hover-Background: hsl(0, 75%, 90%);

  --calendar-height: max(500px, 100%);
  --calendar-width: clamp(300px, 100%, 1500px);
  --nav-height: 50px;

  --month-grid-height: calc(var(--calendar-height) - var(--nav-height));

  --date-num-height: calc(var(--date-font-size) * 1.5);
  --date-weekday-label-height: 8px;
  --date-header-height: calc(var(--date-num-height) + var(--date-weekday-label-height));

  --event-modal-height: 300px;
  --event-modal-header-height: 30px;
  --event-modal-width: 260px;

  --timed-event-text: #777;
  --modal-date-header-text: #555;
  --modal-form-label-text: #777;

  --date-font: Arial, Helvetica, sans-serif;
  --date-font-size: 12px;
}

#root,
html,
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 100vh;
  width: 100vw;
  margin: 0%;
  box-sizing: border-box;
}

button {
  color: var(--default-text);
  background-color: white;

  padding: 6px 8px;
  border: 1px solid var(--button-background);
  border-radius: 3px;

  font-family: var(--date-font);
  font-weight: 600;
}

.calendar {
  width: var(--calendar-width);
  height: var(--calendar-height);
  box-sizing: border-box;
  overflow: auto;
}

.calendar-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: var(--calendar-width);
  height: var(--nav-height);
  font-size: larger;
  box-sizing: border-box;
}

.month-container {
  width: var(--calendar-width);
  height: var(--month-grid-height);

  display: grid;
  grid-auto-flow: row;
  grid-template-columns: repeat(7, 1fr);
  grid-auto-rows: 1fr;

  align-items: stretch;
  justify-items: stretch;

  color: var(--temp-monthly-grid-border);
  border: 1px solid var(--button-background);

  box-sizing: border-box;
}

.nav-month-header {
  color: var(--default-text);
  font-family: var(--date-font);
  font-weight: 600;
}

button.nav-arrow-button {
  border: none;
}
